{% extends 'web/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<table class="table table-striped table-hover table-responsive-sm">
    <tr>
        <th>Autor: </th>
        <th>Titulo: </th>
        <th>Precio: </th>
        <th>Imagen: </th>
        <th>Descripción: </th>
        <th>Dirección: </th>
        <th>Comuna: </th>
        <th>Región: </th>

    </tr>
    {% for p in publicaciones %}
    <tr>
        <td>{{ p.autor | title }}</td>
        <td>{{ p.titulo | title }}</td>
        <td>${{ p.precio | title }}</td>
        <td><img src="{{ p.imagen.url }}" width="200px" height="200px"></td>
        <td>{{ p.descripcion | title }}</td>
        <td>{{ p.direccion | title }}</td>
        <td>{{ p.comuna | title }}</td>
        <td>{{ p.region | title }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}